#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git-ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
*.o
*.o.*
*.a
*.lst
*.elf
*.bin
*/*/*/*/*/settings/
*/*/*/*/*/debug/
*/*/*/*/*/release/
*/*/*/*/*/sdram_debug/
*/*/*/*/*/sdram_release/
*/*/*/*/*/flexram_sdram_debug/
*/*/*/*/*/flexram_sdram_release/
*/*/*/*/*/flexspi_nor_debug/
*/*/*/*/*/flexspi_nor_release/
*/*/*/*/*/flexspinor_sdram_debug/
*/*/*/*/*/flexspinor_sdram_release/
*/*/*/*/*/flexspinor_flexram_sdram_debug/
*/*/*/*/*/flexspinor_flexram_sdram_release/
*/*/*/*/*/sdram_flexram_debug/
*/*/*/*/*/sdram_flexram_release/
*/*/*/*/*/opt_level0_debug/
*/*/*/*/*/opt_level0_release/
*/*/*/*/*/pxp_perf_debug/
*/*/*/*/*/pxp_perf_release/

*/*/*/*/*/*/settings/
*/*/*/*/*/*/debug/
*/*/*/*/*/*/release/
*/*/*/*/*/*/sdram_debug/
*/*/*/*/*/*/sdram_release/
*/*/*/*/*/*/flexram_sdram_debug/
*/*/*/*/*/*/flexram_sdram_release/
*/*/*/*/*/*/flexspi_nor_debug/
*/*/*/*/*/*/flexspi_nor_release/
*/*/*/*/*/*/flexspinor_sdram_debug/
*/*/*/*/*/*/flexspinor_sdram_release/
*/*/*/*/*/*/flexspinor_flexram_sdram_debug/
*/*/*/*/*/*/flexspinor_flexram_sdram_release/
*/*/*/*/*/*/sdram_flexram_debug/
*/*/*/*/*/*/sdram_flexram_release/
*/*/*/*/*/*/opt_level0_debug/
*/*/*/*/*/*/opt_level0_release/
*/*/*/*/*/*/pxp_perf_debug/
*/*/*/*/*/*/pxp_perf_release/

# IAR temp files
EW*.tmp
EW*.tmp.c
*.dep
*.ewt
*.pbi
*.pbi.cout
*.pbd
*.pbd.browse

# MISC temp files
*.mp4
*.txt
*.TXT

